
body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  max-width: 1440px;
  min-height: 100vh;
  background-color: rgb(233, 232, 231)
}

.head{
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: aliceblue;
  border-radius: 5px;
  box-shadow: 3px 4px 2px rgba(208, 206, 206, 0.869);
}
.titleHead{
  background-color: aqua;
  text-align: start;
  padding: 0 4rem ;
}
.container-btn-mode{
  background-color: blue;
}
.cardCountry{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.country{
  background-color: aliceblue;
}
.flag{
  height: 100%;
  width: 100%;
}
