@import url('https://fonts.googleapis.com/css2?family=Inter:wght@;300;600;800;900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --elements__dark__Blue: hsl(209, 23%, 22%);
  --background__very__dark: hsl(207, 26%, 17%);
  --text__light__mode: hsl(200, 15%, 8%);
  --input__light__mode :hsl(0, 0%, 52%);
  --background__light__mode: hsl(0, 0%, 98%);
  --text_dark_elements_light: hsl(0, 0%, 100%);
}

/* ----- reset ------ */

* {
  box-sizing: border-box;
}
html{
  font-family: 'Nunito Sans', sans-serif;
}
body{
  margin: 0;
  background-color: var(--background__light__mode);
}
h1,h2,h3,h4,p,ul{
  margin-top: 0;
  margin-bottom: 0;
}

ul{
  list-style: none;
  padding-left: 0;
}
input{
  outline: none;
  font-family: inherit;
}
button{
  font-family: inherit;
}
select{
  font-family: inherit;
}
img{
  width: 100%;
}

